<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<variable name="logDir" value="${basedir}/Logs/" />

	<variable name="main-layout" value="${date:universalTime=false:format=HH\:mm\:ss} - (${level:uppercase=true}) [${threadid}] (${logger}) : ${message} ${exception:format=ToString,StackTrace:separator=&#13;&#10;}" />

	<targets>
		<default-target-parameters xsi:type="File" keepFileOpen="false" autoFlush="true" encoding="windows-1251" archiveNumbering="Sequence" concurrentWrites="false" archiveAboveSize="10485760" layout = "${main-layout}" maxArchiveFiles="500" archiveEvery="Day" />

		<target name="MainTrg" xsi:type="File" fileName="${logDir}/MicexNews2Asoi.log" 
				archiveFileName = "${logDir}/MicexNews2Asoi${date:universalTime=false:format=yyyy_MM_dd}.{#}.log" />
		
		<target name="ExtraTrg" xsi:type="File" fileName="${logDir}/ExtraTrace.log" 
				archiveFileName = "${logDir}/ExtraTrace${date:universalTime=false:format=yyyy_MM_dd}.{#}.log" />
	</targets>

	<rules>				
		<logger name = "Main" minlevel = "Info" writeTo = "MainTrg" final="true" />		
		<logger name = "*" minlevel = "Info" writeTo = "ExtraTrg" /> 
	</rules>

</nlog>